html {
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", sans-serif;
}

h1 {
  color: #3f6c33;
}

h2 {
  width: 80%;
  text-align: center;
  margin: auto;
}

button {
  display: flex;
  border-radius: 0.5rem;
  background-color: #fff;
  border: 1px solid #3f6c33;
  color: #3f6c33;
  margin: auto;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  box-shadow: 1px;
  cursor: pointer;
}
button:hover {
  color: #fff;
  transition: 0.2s;
  background-color: #3f6c33;
}

#header {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
}
#header h1 {
  margin-top: 1rem;
  margin-bottom: 20px;
}

.leftover-soup:hover .carrot {
  transition: 0.3s;
  transform: translateX(-15px) rotate(-5deg) translateY(-5px);
}
.leftover-soup:hover .garlic {
  transition: 0.3s;
  transform: translateX(-45px) rotate(-10deg) translateY(-5px);
}
.leftover-soup:hover .onion {
  transition: 0.3s;
  transform: translateX(15px) rotate(5deg) translateY(-35px);
}

#recipes {
  display: grid;
  row-gap: 2rem;
}

.food__btn {
  width: 80%;
  margin: auto;
  border: none;
  cursor: pointer;
}
.food__btn h2 {
  cursor: pointer;
}

.instructions {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 20px;
  width: 80%;
  display: none;
}

.close, .blend {
  margin: auto;
  margin-top: 1rem;
  display: flex;
  width: 30%;
  border-radius: 0.5rem;
  background-color: #fff;
  border: 1px solid #3f6c33;
  color: #3f6c33;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  box-shadow: 1px;
  cursor: pointer;
  justify-content: center;
}
.close:hover, .blend:hover {
  color: #fff;
  transition: 0.2s;
  background-color: #3f6c33;
}

footer {
  display: flex;
  text-align: center;
  flex-direction: column;
  row-gap: 1rem;
  margin-top: 3rem;
}
footer a {
  color: #000;
}

.charitylogo {
  width: 10%;
  margin: auto;
}

/* LEFTOVER SOUP SVG */
.st0 {
  fill: #8DC540;
}

.st1 {
  fill: #F37422;
}

.st2 {
  fill: #DBD1C3;
}

.st3 {
  fill: #E5DBD0;
}

.st4 {
  fill: #56A446;
}

.st5 {
  fill: #F7F1E9;
}

.st6 {
  fill: #A01C41;
}

.st7 {
  fill: #CF406C;
}

/* BROCCOLI SVG */
.b1 {
  fill: #56A446;
}

.b2 {
  fill: #BFD18C;
}

.b3 {
  fill: #418E42;
}

.b4 {
  fill: #64B152;
}

/* SMOOTHIE SVG */
.c1 {
  fill: #FFD322;
}

.c2 {
  fill: #7BBF97;
}

.c3 {
  fill: #FACA51;
}

.c4 {
  fill: #D59F29;
}

.c5 {
  fill: #2B59A7;
}

.c6 {
  fill: #233C78;
}

.c7 {
  fill: #955E38;
}

.c8 {
  fill: #418E42;
}

.c9 {
  fill: #8DC540;
}

.c10 {
  fill: #56A446;
}

/* BREAD SVG */
.d1 {
  fill: #ECB46A;
}

.d2 {
  fill: #FCD6AB;
}

/* PESTO SVG */
.e1 {
  fill: #56A446;
}

.e2 {
  fill: none;
  stroke: #418E42;
  stroke-width: 2.5736;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.e3 {
  fill: #FFD322;
}

.e4 {
  fill: none;
  stroke: #418E42;
  stroke-width: 3.1586;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.e5 {
  fill: #DBD1C3;
}

.e6 {
  fill: #E5DBD0;
}

.e7 {
  fill: #F7F1E9;
}

/* TYPE STUFF */
html, .root {
  font-size: 16px;
  line-height: 24px;
}

body, .article, button {
  font-family: "Work Sans", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  margin: auto;
}

h1, .h1 {
  font-size: 4.25em;
  line-height: 1.05882353em;
  margin-top: 0em;
  margin-bottom: 0em;
}

h2, .h2 {
  font-size: 2.625em;
  line-height: 1.14285714em;
  margin-top: 0em;
  margin-bottom: 0em;
}

h3, .h3 {
  font-size: 1.625em;
  line-height: 1.84615385em;
  margin-top: 0em;
  margin-bottom: 0em;
}

h4, .h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 0em;
  margin-bottom: 0em;
}

h5, .h5 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 0em;
  margin-bottom: 0em;
}

button, p, ul, ol, pre, table, blockquote {
  margin-top: 0em;
  margin-bottom: 0em;
}

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0em;
  margin-bottom: 0em;
}

/* Let's make sure all's aligned */
hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}

a, b, i, strong, em, small, code {
  line-height: 0;
}

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/*# sourceMappingURL=style.css.map */
